<%= erb :"common/header"%>

<head>
    <link rel="stylesheet" href="/Style/login.css">
</head>

<body>
  <div class="container">
    <form action="request-reset-password">
      <p> Email </p> <input type="email" name="email">

      <p><input type="submit" value="Send Password Reset"></p>
    </form>
  </div>
</body>