<head>
    <link rel="stylesheet" href="/Style/reset_password.css">
    <title> Eduflix - Password Reset </title>
</head>

<body>
    <div class="container">
    <% if !@found %>
        <p> We have sent instructions to your email if there exists an account associated with it. </p>
    <% else %>
        <h1> Email </h1>
        <div class="email">
            <p> To: <span class="email-address"> <%= @user.email %> </span> </p>
            <p> From: <span class="email-address"> donotreply@eduflix.edu </span> </p>
            <p> Subject: Reset Password Form </p>

            <br>

            <form method="post" action="reset-password">
                <p> New Password </p> <input type="password" name="new_password">
                <p> Confirm New Password </p> <input type="password" name="new_password_confirm">

                <input type="hidden" name="email" value=<%= @user.email %> />

                <p><input type="submit" value="Reset Password"></p>
            </form>

            <% unless @error.nil? %>
                <p style="color:red"> <%= @error %> </p>
            <% end %>
        </div>
    <% end %>
    </div>
</body>

