<head>
    <%# Reuse login stylesheet %>
    <link rel="stylesheet" href="Style/login.css">
</head>

<div class="container">
  <form method="post" action="/signup">
    <p>Username: </p> <input type="text" name="username"/>
    <p>Email: </p> <input type="email" name="email">
    <p>Password: </p> <input type="password" name="password">

    <p><input type="submit" value="Sign Up"></p>

    <% unless @error.nil? %>
      <p class="error"><%= @error%> </p>
    <% end %>
  </form>
</div>